[Unit]
Description=Oi! Speaker!!
After=network-online.target sound.target pulseaudio.service sys-devices-platform-soc.subsystem.device
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=%h/dev/oi-speaker
ExecStartPre=/usr/bin/pulseaudio --start
ExecStart=%h/.pyenv/shims/python -u src/speaker.py --verbose
Environment=PYTHONUNBUFFERED=1
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=PULSE_SERVER=unix:/run/user/%U/pulse/native
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target